<!--
  Generated template for the AprrovalregisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Approval Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list  *ngFor='let item of getdatauser'>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="img/slimer.png">
        </ion-avatar>
        <h2>{{item.nama}}</h2>
        <p>Nomor Induk : {{item.nomorinduk}}</p>
        <div *ngIf="item.status == '1'">
          <ion-badge color="secondary"><ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon> Approved</ion-badge>
        </div>
        <div *ngIf="item.status == '2'">
          <ion-badge color="danger">  <ion-icon ios="ios-close" md="md-close"></ion-icon> Disapprove</ion-badge>
      </div>
      <div *ngIf="item.status == '0'">
        <ion-badge color="warning"><ion-icon ios="ios-time" md="md-time"></ion-icon> Pending</ion-badge>
    </div>
     
      </ion-item>
      <ion-item-options side="left">
          <button ion-button color="secondary" (click)="approve(item)">
              <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
            Approve
          </button>
        </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="disaprove(item)">
            <ion-icon ios="ios-close" md="md-close"></ion-icon>
          Disapprove
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
</ion-content>
