<!-- Generated template for the FormtambahkelasComponent component -->
<ion-header>
  <ion-navbar>
    <ion-title>Edit User Access</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-label floating>User Access</ion-label>
    <ion-input type="text" [(ngModel)]="useraccess"></ion-input>
  </ion-item>
  <div padding>
    <button ion-button outline block (tap)="simpan()">Simpan</button>
  </div>
  <div padding>
    <button ion-button outline block color="danger" (tap)="close()">Tutup</button>
  </div>
</ion-content>