<!-- Generated template for the FormdatasiswaComponent component -->
<ion-header>
  <ion-navbar>
    <ion-title>Data Siswa</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="../assets/img/avatar.png">
      </ion-avatar>
      <h2>{{nama}}</h2>
      <p>{{nomorinduk}}</p>
    </ion-item>

    <ion-item>
      Alamat
      <ion-note item-end>
        {{alamat}}
      </ion-note>
    </ion-item>
    <ion-item>
      Nomor Telepon
      <ion-note item-end>
        {{telepon}}
      </ion-note>
    </ion-item>
    <ion-item>
      Tanggal Lahir
      <ion-note item-end>
        {{tanggallahir | date}}
      </ion-note>
    </ion-item>
    <ion-item>
      Tempat Lahir
      <ion-note item-end>
        {{tempatlahir}}
      </ion-note>
    </ion-item>
    <ion-item>
      Jenis Kelamin
      <ion-note item-end>
        {{jenis}}
      </ion-note>
    </ion-item>
    <ion-item>
      Golongan Darah
      <ion-note item-end>
        {{golongandarah}}
      </ion-note>
    </ion-item>
    <ion-item>
      Nomor HP
      <ion-note item-end>
        {{hp}}
      </ion-note>
    </ion-item>
    <ion-item>
      Nama Ayah
      <ion-note item-end>
        {{ayah}}
      </ion-note>
    </ion-item>
    <ion-item>
      Nama Ibu
      <ion-note item-end>
        {{ibu}}
      </ion-note>
    </ion-item>
    <ion-item>
      Email
      <ion-note item-end>
        {{emailpribadi}}
      </ion-note>
    </ion-item>
    <ion-item>
      Nomor HP Ayah
      <ion-note item-end>
        {{nomorhpayah}}
      </ion-note>
    </ion-item>
    <ion-item>
      Nomor Hp Ibu
      <ion-note item-end>
        {{nomorhpibu}}
      </ion-note>
    </ion-item>
    <ion-item>
      Kode Sekolah
      <ion-note item-end>
        {{kodesekolah}}
      </ion-note>
    </ion-item>
</ion-list>
  <div padding>
    <button ion-button outline block color="danger" (tap)="close()">Tutup</button>
  </div>
</ion-content>